/* Error: Only 2 arguments allowed, but 4 were passed.
 *    ,--> scss\components\_navbar.scss
 * 39 | /             @include btn(1.6rem, 0.3rem,
 * 40 | |             $btnBorderColor, $mainColor);
 *    | '----------------------------------------^ invocation
 *    '
 *    ,--> scss\abstracts\_mixin.scss
 * 16 |   @mixin btn($color,$bg){
 *    |          =============== declaration
 *    '
 *   scss\components\_navbar.scss 39:13  btn()
 *   scss\components\_navbar.scss 39:13  @use
 *   scss\main.scss 10:1                 root stylesheet */

body::before {
  font-family: "Source Code Pro", "SF Mono", Monaco, Inconsolata, "Fira Mono",
      "Droid Sans Mono", monospace, monospace;
  white-space: pre;
  display: block;
  padding: 1em;
  margin-bottom: 1em;
  border-bottom: 2px solid black;
  content: "Error: Only 2 arguments allowed, but 4 were passed.\a    \250c \2500 \2500 > scss\\components\\_navbar.scss\a 39 \2502  \250c              @include btn(1.6rem, 0.3rem,\a 40 \2502  \2502              $btnBorderColor, $mainColor);\a    \2502  \2514 \2500 \2500 \2500 \2500 \2500 \2500 \2500 \2500 \2500 \2500 \2500 \2500 \2500 \2500 \2500 \2500 \2500 \2500 \2500 \2500 \2500 \2500 \2500 \2500 \2500 \2500 \2500 \2500 \2500 \2500 \2500 \2500 \2500 \2500 \2500 \2500 \2500 \2500 \2500 \2500 ^ invocation\a    \2575 \a    \250c \2500 \2500 > scss\\abstracts\\_mixin.scss\a 16 \2502    @mixin btn($color,$bg){\d\a    \2502           \2501 \2501 \2501 \2501 \2501 \2501 \2501 \2501 \2501 \2501 \2501 \2501 \2501 \2501 \2501  declaration\a    \2575 \a   scss\\components\\_navbar.scss 39:13  btn()\a   scss\\components\\_navbar.scss 39:13  @use\a   scss\\main.scss 10:1                 root stylesheet";
}
